<!DOCTYPE html>

<html ng-app="plunker">
<head>
<meta charset="utf-8" />
<title>AngularJS Plunker</title>
<script>
document.write('<base href="' + document.location + '" />');
</script>
<link href="style.css" rel="stylesheet" />
<script src="jquery-2.1.4.js"></script>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</head>

<body>
<div ng-controller="MainCtrl" style="width: 50%; float: left; padding: 20px;">
    <div class="loader" style="position:absolute; left: 0; top: 0; width: 100%; height: 100%; color: #fff; background: rgba(0,0,0,0.9); padding: 20px;">Loading</div>
    <p ng-repeat="name in names">Hello {{ name.firstname }} {{ name.lastname | uppercase }}!</p>
    <table border="1" style="border-collapse: collapse;">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      <tr ng-repeat="name in names" ng-if="responseData === true">
        <td>{{ name.firstname }}</td>
        <td>{{ name.lastname }}</td>
      </tr>
      <tr ng-if="responseData === false">
        <td colspan="2">{{ firstname }}</td>
      </tr>
    </table>
</div>

<div ng-controller="MainCtrl2" style="width: 50%; float: right; background-color: #f1f1f1; padding: 20px;">
    <div class="loader" style="position:absolute; left: 0; top: 0; width: 100%; height: 100%; color: #fff; background: rgba(0,0,0,0.9);">Loading</div>
    <p ng-repeat="name in names">Hello {{ name.lastname | uppercase }} {{ name.firstname }} !</p>
    <table border="1" style="border-collapse: collapse;">
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
      </tr>
      <tr ng-repeat="name in names" ng-if="responseData === true">
        <td>{{ name.lastname }}</td>
        <td>{{ name.firstname }}</td>
      </tr>
      <tr ng-if="responseData === false">
        <td colspan="2">{{ firstname }}</td>
      </tr>
    </table>
</div>
</body>
</html>