*{ margin: 0; padding: 0; box-sizing: border-box; }
body{ padding: 50px; font: 14px Arial, Helvetica, Sans-serif; }
.dad {
    padding: 10px;
    background-color: #f1f1f1;
}
.son {
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}