<div>
    <div class="row">
        <div class="col-md-12">
            <h1>Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                	<input type="text" class="form-control" placeholder="User Name" ng-model="lgUsername" value="">
                </div>
                <div class="col-md-4">
                	<input type="password" class="form-control" placeholder="Password" ng-model="lgPassword" value="">
                </div>
                <div class="col-md-4"><input type="button" class="btn btn-primary" value="Login" ng-click="login()"></div>
            </div>
        </div>
    </div>
</div>